<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<h1>Registration Page</h1>
	<form method="post"> 
		EmployeeName: <input type="text" name="employeeName" > <br>
		companyName: <input type="text" name="companyName" > <br>
		contactNo: <input type="text" name="contractNo" > <br>
		userName: <input type="text" name="userName" > <br>
		Password: <input type="password" name="password" ><br>
		<input type="submit" name="submit" value="Submit" >
	</form>
</body>
</html>